node_modules
dist
out
.DS_Store
*.log*
.pnpm-store
packages/core/tsconfig.tsbuildinfo
packages/desktop/plugins/*

node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/
packages/desktop/docs/*
ignore/

packages/rpc/tsconfig.tsbuildinfo
